<div class="dialog-overlay"></div>
<div class="dialog-box genero-popup-box">
  <h3>Gestionar Géneros</h3>
  <div class="genero-list">
    <ul>
      <li *ngFor="let genero of generos; let i = index">
        <span *ngIf="editIndex !== i">{{ genero.nombre }}</span>
        <input *ngIf="editIndex === i" [(ngModel)]="generoEditado" />
        <button *ngIf="editIndex !== i" (click)="editarGenero(i)">Editar</button>
        <button *ngIf="editIndex === i" (click)="guardarEdicion()">Guardar</button>
        <button (click)="eliminarGenero(i)">Eliminar</button>
      </li>
    </ul>
  </div>
  <div class="nuevo-genero">
    <input [(ngModel)]="nuevoGenero" placeholder="Nuevo género" />
    <button (click)="agregarGenero()">Agregar</button>
  </div>
  <button (click)="cerrarPopup()">Cerrar</button>
</div>
